@page
@model IndexPageModel
@{
    ViewData["Title"] = "Example on how to add and query person";
}

<h1 class="display-4">Use below form to add person</h1>
<p>Enter neccessary details to add person</p>

TODO: add forms